<center><h1> <%= @user.username %>'s <%= @bag.name %> bag</h1><center>
<center><p>Look at all of this candy!</p></center>

<p>Candy - Rating</p><br><br>
<%if !@bag.candies.empty?%>
  <%@bag.candies.each do |candy|%>
    <a href="/candy/<%= @bag.id %>/<%= candy.id %>/edit"><%= candy.name%> - <%= @bag.rating %></a><br>
  <%end%>
<%else%>
  <p style="color:orange">EMPTY BAG</p>
<%end%>
<br><br><br>
<a href="/candy/<%= @bag.id %>/new">Add Candy</a>
<br><br>

<form method="post" action="/bags/<%= @user.username %>/<%= @bag.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete bag">
</form>
<br><br>

<form method="post" action="/bags/<%= @user.username %>/<%= @bag.id %>"
  <center><p>Rate this bag:</p></center>
  <input type="radio" name="rating" value="1" <%='checked' if @bag.rating == 1 %> > 1 </input>
  <input type="radio" name="rating" value="2" <%='checked' if @bag.rating == 2 %> > 2 </input>
  <input type="radio" name="rating" value="3" <%='checked' if @bag.rating == 3 %> > 3 </input>
  <input type="radio" name="rating" value="4" <%='checked' if @bag.rating == 4 %> > 4 </input>
  <input type="radio" name="rating" value="5" <%='checked' if @bag.rating == 5 %> > 5 </input>
  <input type="submit" name="" value="submit">
</form>
<br><br><br>
<a href="/bags">Home</a>
