<center><h1>Public bags</h1><br><br><center>
<% @users.each do |user|%>
  <%if !user.bags.empty?%>
      <p style="color:orange"><%= user.username %>'s bags<p>
      <% user.bags.each do |bag|%>
        <a href="/bags/<%=user.username%>/<%=bag.id%>"><%= bag.name%> - <%=bag.rating%></a><br><br>
      <%end%>
  <%end%>
<%end%>
<br><br><br>
<a href="/bags">Back</a>
