<center><h1>Public bags</h1><br><br><center>
<% @users.each do |user|%>
  <p><%= user.username %>'s bags<p><br>
  <% user.bags.each do |bag|%>
    <li><a href="/bags/<%=user.username%>/<%=bag.id%>"><%= bag.name%> - <%=bag.rating%></a><br>
  <%end%>
<%end%>
<br><br><br>
<a href="/bags">Back</a>
